.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2d3436;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .buttons {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.sidenav .buttons button {
  width: 100px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  color: white;
}

.sidenav a.link {
  padding: 8px;
  width: 250px;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openBtn {
  color: white;
  margin-left: auto;
  font-size: 2rem;
}